@page
@model Shop.UI.Pages.Admin.OrderManagementModel
@{
}

<div id="app">
	<div v-if="selectedOrder === null">
		<div class="tabs is-centered">
			<ul>
				<li v-bind:class="{'is-active': status === 0}"><a @@click="status = 0">Pending</a></li>
				<li v-bind:class="{'is-active': status === 1}"><a @@click="status = 1">Packed</a></li>
				<li v-bind:class="{'is-active': status === 2}"><a @@click="status = 2">Shipped</a></li>
			</ul>
		</div>
		<div v-if="orders.length > 0">
			<div class="table-container">
				<table class="table is-hoverable">
					<tr>
						<td><strong>Order reference</strong></td>
						<td><strong>Recipient</strong></td>
						<th></th>
					</tr>
					<tr v-for="order in orders">
						<td>
							{{order.orderRef}}
						</td>
						<td>
							{{order.email}}
						</td>
						<td>
							<a @@click="selectOrder(order.id)">
								Update Status
							</a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div v-else>
		<div class="card">
			<div class="card-content">
				<p class="title">
					{{selectedOrder.orderRef}}
				</p>
				<p class="subtitle">
					{{selectedOrder.email}}
				</p>
			</div>
			<footer class="card-footer">
				<p class="card-footer-item">
					<span>
						<a @@click="exitOrder()">Exit</a>
					</span>
				</p>
				<p class="card-footer-item">
					<span>
						<a @@click="updateOrder()">Process</a>
					</span>
				</p>
			</footer>
		</div>
	</div>
</div>


@section scripts { 
	<script src="~/js/admin/orders.js"></script>
}