@page
@model Shop.UI.Pages.Admin.StockModel
@{
}

<div id="app">
	<div class="columns">
		<div class="column is-5">
			<div class="table-container">
				<table class="table is-hoverable">
					<tr v-for="product in products" @@click="selectProduct(product)">
						<td>
							<strong>{{product.productName}}</strong><br/><small>{{product.description}}</small>
						</td>
						<td>
							<article class="media">
								<figure class="media-left">
									<p class="image is-128x128">
										<img class="image is-128x128" :src="product.image" />
									</p>
								</figure>
							</article>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="column is-4" v-if="selectedProduct">
			<div class="table-container">
				<table class="table">
					<tr v-for="(stock, index) in selectedProduct.stocks">
						<td><input class="input" v-model="stock.description" /></td>
						<td><input class="input" v-model="stock.quantity" /></td>
						<td><a class="has-text-danger" @@click="deleteStock(stock.id, index)">Delete</a></td>
					</tr>
				</table>
			</div>
			<a class="button is-warning" @@click="updateStock">
				Update Products
			</a>
		</div>
		<div class="column is-3" v-if="selectedProduct">
			<h3 class="title">New Stock</h3>
			<div class="field">
				<div class="control">
					<input class="input" v-model="newStock.description" />
				</div>
			</div>
			<div class="field">
				<div class="control">
					<input class="input" v-model="newStock.quantity" />
				</div>
			</div>
			<a class="button is-success" @@click="addStock">Add</a>
		</div>
	</div>
</div>

@section scripts{ 
	<script src="~/js/admin/stock.js"></script>
}